body {
	font-family: 'PT Sans';
}

pre code {
  background-color: #ecf0f1;
  border: 1px solid #999;
  display: block;
  padding: 5px;
}

img {
	height: auto;
	width: 500px;
	box-shadow: 0px 2px 4px gray; 
}

body {
	padding-left: 25px;
	line-height: 1.75;
}

